# Copia este archivo como `.env` y completa los valores reales.

# Wompi Sandbox
WOMPI_PUBLIC_KEY=pub_test_H30y3P0ZVVOWdPUN72fbwVlSxm6Va2PO
WOMPI_INTEGRITY_SECRET=test_integrity_5IfHdldMe7kwp4PdOWHdAunrfDd9yhVm

# Servidor
PORT=3001
FRONTEND_URL=http://localhost:5173
